extends layout

block navbar
	div.nav
		ul.menu
			li.item
				<a href='/'>HOME</a>
			li.item
				<a href='/about' class="active">ABOUT</a>
			li.item
				<a href='/services'>SERVICES</a>
			li.item
				<a href='/contact'>CONTACT</a>	



block section
	div.container
		div.content
			div.post
				p 
					| Throughout my career, I've been a mechatronic engineer within the medical device industry. I've worked from the early stages of new technology feasibility through the introduction of automated manufacturing systems, validation and retirement. My experiences with early development of technologies has instilled a drive to find the most robust, cost-effective and creative approaches for solving complex problems with simple, yet elegant solutions.<br />
					| <br />
					| Technology feasability easily translates into automated manufacturing systems as it is critical that both system and business requirements are created, designed and vetted as soon as possible. Experience working with need assessments, URSs, FSs, CSs, DSs and RTMs is vital to creating effective systems that meet both the needs of the user and the needs of the business. <br />
					| <br />
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus lacus id urna sollicitudin, sit amet molestie sapien sagittis. Nunc pellentesque luctus erat, ut facilisis nisi commodo cursus. Etiam vitae dignissim arcu, non mattis lectus. Ut eget tortor lacus. Maecenas elementum ligula vel dui aliquam, vel porta purus sagittis. In tortor turpis, vulputate vel auctor ac, ultricies at ex. Fusce dignissim est risus, vitae hendrerit augue faucibus a.#[br]
					| <br />
					| Aliquam erat volutpat. Fusce id augue interdum, gravida risus sit amet, pellentesque felis. In rutrum eros at nisi tincidunt porta. Sed ut enim at mi mattis euismod ac at sapien. Donec a erat ut magna ullamcorper cursus eu a enim. Mauris rutrum tellus vel urna blandit, vel bibendum sem tempor. Vivamus sit amet egestas ex, ac tempor massa. Duis euismod ipsum scelerisque elit tincidunt condimentum. Proin ante nibh, tempus sit amet ultrices eget, condimentum ut magna. Cras blandit imperdiet tempor. Suspendisse maximus bibendum est non tristique. Fusce lacinia justo vel neque pellentesque porta. Vestibulum tempus aliquam purus id rhoncus. Mauris lacinia turpis tortor, nec lobortis neque pretium at. Cras sollicitudin bibendum posuere.<br />
					| <br />
					| Aliquam erat volutpat. Proin tincidunt varius sem, vitae pharetra tortor malesuada ac. Ut congue justo nec massa auctor aliquet. Duis ut dolor condimentum, maximus nulla non, sodales ligula. Nulla dictum aliquet vehicula. Duis commodo lorem finibus ullamcorper iaculis. Pellentesque nec varius sem.<br />
					| <br />
					| Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut metus quis augue laoreet gravida id et odio. Phasellus vel aliquet metus. Phasellus feugiat sapien cursus, posuere nulla dapibus, finibus magna. Fusce sit amet accumsan nisl. Pellentesque accumsan justo nec lacus eleifend, et gravida augue sodales. Vestibulum et faucibus arcu. In a iaculis leo. Cras a faucibus nisl. Nunc aliquam at massa ut maximus. Aliquam tempus condimentum dolor, et ornare quam molestie in. Ut ullamcorper ullamcorper accumsan.<br />
					| <br />
					| Curabitur suscipit metus vitae nibh ornare, ac blandit est aliquam. Cras ultrices est a ex aliquam tincidunt eget non sem. Etiam hendrerit sem eu eros egestas, eget egestas massa accumsan. Pellentesque volutpat venenatis massa, sed suscipit nunc hendrerit in. Sed id nunc eget ante congue pulvinar semper vitae mauris. Duis egestas rutrum enim, quis luctus velit egestas eu. Aliquam at odio nisi. Fusce ac nulla ullamcorper, lobortis ex auctor, sodales odio. Ut laoreet metus sed diam lacinia mollis. Pellentesque nunc justo, vestibulum nec massa ac, ultricies venenatis libero. Phasellus pharetra purus non quam gravida commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br />
					| <br />
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus lacus id urna sollicitudin, sit amet molestie sapien sagittis. Nunc pellentesque luctus erat, ut facilisis nisi commodo cursus. Etiam vitae dignissim arcu, non mattis lectus. Ut eget tortor lacus. Maecenas elementum ligula vel dui aliquam, vel porta purus sagittis. In tortor turpis, vulputate vel auctor ac, ultricies at ex. Fusce dignissim est risus, vitae hendrerit augue faucibus a.#[br]
					| <br />
					| Aliquam erat volutpat. Fusce id augue interdum, gravida risus sit amet, pellentesque felis. In rutrum eros at nisi tincidunt porta. Sed ut enim at mi mattis euismod ac at sapien. Donec a erat ut magna ullamcorper cursus eu a enim. Mauris rutrum tellus vel urna blandit, vel bibendum sem tempor. Vivamus sit amet egestas ex, ac tempor massa. Duis euismod ipsum scelerisque elit tincidunt condimentum. Proin ante nibh, tempus sit amet ultrices eget, condimentum ut magna. Cras blandit imperdiet tempor. Suspendisse maximus bibendum est non tristique. Fusce lacinia justo vel neque pellentesque porta. Vestibulum tempus aliquam purus id rhoncus. Mauris lacinia turpis tortor, nec lobortis neque pretium at. Cras sollicitudin bibendum posuere.<br />
					| <br />
					| Aliquam erat volutpat. Proin tincidunt varius sem, vitae pharetra tortor malesuada ac. Ut congue justo nec massa auctor aliquet. Duis ut dolor condimentum, maximus nulla non, sodales ligula. Nulla dictum aliquet vehicula. Duis commodo lorem finibus ullamcorper iaculis. Pellentesque nec varius sem.<br />
					| <br />
					| Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut metus quis augue laoreet gravida id et odio. Phasellus vel aliquet metus. Phasellus feugiat sapien cursus, posuere nulla dapibus, finibus magna. Fusce sit amet accumsan nisl. Pellentesque accumsan justo nec lacus eleifend, et gravida augue sodales. Vestibulum et faucibus arcu. In a iaculis leo. Cras a faucibus nisl. Nunc aliquam at massa ut maximus. Aliquam tempus condimentum dolor, et ornare quam molestie in. Ut ullamcorper ullamcorper accumsan.<br />
					| <br />
					| Curabitur suscipit metus vitae nibh ornare, ac blandit est aliquam. Cras ultrices est a ex aliquam tincidunt eget non sem. Etiam hendrerit sem eu eros egestas, eget egestas massa accumsan. Pellentesque volutpat venenatis massa, sed suscipit nunc hendrerit in. Sed id nunc eget ante congue pulvinar semper vitae mauris. Duis egestas rutrum enim, quis luctus velit egestas eu. Aliquam at odio nisi. Fusce ac nulla ullamcorper, lobortis ex auctor, sodales odio. Ut laoreet metus sed diam lacinia mollis. Pellentesque nunc justo, vestibulum nec massa ac, ultricies venenatis libero. Phasellus pharetra purus non quam gravida commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br />
					| <br />
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus lacus id urna sollicitudin, sit amet molestie sapien sagittis. Nunc pellentesque luctus erat, ut facilisis nisi commodo cursus. Etiam vitae dignissim arcu, non mattis lectus. Ut eget tortor lacus. Maecenas elementum ligula vel dui aliquam, vel porta purus sagittis. In tortor turpis, vulputate vel auctor ac, ultricies at ex. Fusce dignissim est risus, vitae hendrerit augue faucibus a.#[br]
					| <br />
					| Aliquam erat volutpat. Fusce id augue interdum, gravida risus sit amet, pellentesque felis. In rutrum eros at nisi tincidunt porta. Sed ut enim at mi mattis euismod ac at sapien. Donec a erat ut magna ullamcorper cursus eu a enim. Mauris rutrum tellus vel urna blandit, vel bibendum sem tempor. Vivamus sit amet egestas ex, ac tempor massa. Duis euismod ipsum scelerisque elit tincidunt condimentum. Proin ante nibh, tempus sit amet ultrices eget, condimentum ut magna. Cras blandit imperdiet tempor. Suspendisse maximus bibendum est non tristique. Fusce lacinia justo vel neque pellentesque porta. Vestibulum tempus aliquam purus id rhoncus. Mauris lacinia turpis tortor, nec lobortis neque pretium at. Cras sollicitudin bibendum posuere.<br />
					| <br />
					| Aliquam erat volutpat. Proin tincidunt varius sem, vitae pharetra tortor malesuada ac. Ut congue justo nec massa auctor aliquet. Duis ut dolor condimentum, maximus nulla non, sodales ligula. Nulla dictum aliquet vehicula. Duis commodo lorem finibus ullamcorper iaculis. Pellentesque nec varius sem.<br />
					| <br />
					| Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ut metus quis augue laoreet gravida id et odio. Phasellus vel aliquet metus. Phasellus feugiat sapien cursus, posuere nulla dapibus, finibus magna. Fusce sit amet accumsan nisl. Pellentesque accumsan justo nec lacus eleifend, et gravida augue sodales. Vestibulum et faucibus arcu. In a iaculis leo. Cras a faucibus nisl. Nunc aliquam at massa ut maximus. Aliquam tempus condimentum dolor, et ornare quam molestie in. Ut ullamcorper ullamcorper accumsan.<br />
					| <br />
					| Curabitur suscipit metus vitae nibh ornare, ac blandit est aliquam. Cras ultrices est a ex aliquam tincidunt eget non sem. Etiam hendrerit sem eu eros egestas, eget egestas massa accumsan. Pellentesque volutpat venenatis massa, sed suscipit nunc hendrerit in. Sed id nunc eget ante congue pulvinar semper vitae mauris. Duis egestas rutrum enim, quis luctus velit egestas eu. Aliquam at odio nisi. Fusce ac nulla ullamcorper, lobortis ex auctor, sodales odio. Ut laoreet metus sed diam lacinia mollis. Pellentesque nunc justo, vestibulum nec massa ac, ultricies venenatis libero. Phasellus pharetra purus non quam gravida commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br />
					| <br />


		