extends layout

block header
	header.header
		h1 Site Coming Soon
	div.nav
		ul.menu
			li.item
				<a href='/'>HOME</a>
			li.item
				<a href='/about'>ABOUT</a>	
			li.item
				<a href='/services'>SERVICES</a>
			li.item
				<a href='/contact'  class="active">CONTACT</a>	



block body
	div.container
		div.content
			div.form-area
				<form action="mailto:contact@christian-george.com" method="post" enctype="text/plain">

					<label for="name">Name</label>
					<input type="text" id="name" name="name">

					<label for="email">Email</label>
					<input type="text" id="eml" name="email">

					<label for="subject">Subject</label>
					<select id="subject" name="subject">
						<option value="general">General</option>
						<option value="inquiry">Inquiry</option>
						<option value="other">Other</option>
					</select>

					<label for="message">Message</label>
					<textarea id="message" name="message" style="height:250px"></textarea>

					<input type="submit" value="Submit">

				</form>
		