extends layout

block header
	header.header
		h1 Site Coming Soon
	div.nav
		ul.menu
			li.item
				<a href='/'>HOME</a>
			li.item
				<a href='/about'>ABOUT</a>
			li.item
				<a href='/services'>SERVICES</a>
			li.item
				<a href='/contact'>CONTACT</a>	

block body
	p.er-mess You found an error :'(
	h1= message
	h2= error.status
	pre #{error.stack}