extends layout

block header
	header.header
		h1 Site Coming Soon!

block content
	div.container
		div.content
			div.specialty
				p.spech Mechanical
				img.imagesets(src='/images/mech.jpg' alt='mech_img')
			div.specialty
				p.spech Electrical
				img.imagesets(src='/images/elec.jpg' alt='electrical_img')
			div.specialty
				p.spech Controls/Software
				img.imagesets(src='/images/soft.jpg' alt='software_img')
			div.specialty
				p.spech Vision
				img.imagesets(src='/images/vision.jpg' alt='software_img')


block footer	
	div.footer
		p Feel free to send me an email at <a href=mailto:contact@christian-george.com>contact@christian-george.com</a>!