extends layout

block header
	header.header
		h1 Site Coming Soon!

block content
	div.container
		div.specialty
			p Mechanical
		div.specialty
			p Electrical
		div.specialty
			p Controls/Software
		div.specialty
			p Vision

block footer	
	div.footer
		p Feel free to send me an email at <a href=mailto:contact@christian-george.com>contact@christian-george.com</a>!