doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	
	body
		header.header
			//-- h1 #{title} */
			h1 Site Coming Soon
		
		block navbar

		block section

		footer
			p
				|© Christian George 2024<br />
				<a href=mailto:contact@christian-george.com>contact@christian-george.com</a>
