extends layout

block header
	header.header
		h1 Site Coming Soon
	div.nav
		ul.menu
			li.item
				<a href='/'>Home</a>
			li.item
				<a href='/projects' class="active">Projects</a>
			li.item
				<a href='/contact'>Contact</a>	



block body
	div.container
		div.content
			div.img-grd
				div.specialty
					p.spech Mechanical
					img.imagesets(src='/images/mech.jpg' alt='mech_img')
				div.specialty
					p.spech Electrical
					img.imagesets(src='/images/elec.jpg' alt='electrical_img')
				div.specialty
					p.spech Controls/Software
					img.imagesets(src='/images/soft.jpg' alt='software_img')
				div.specialty
					p.spech Vision
					img.imagesets(src='/images/vision.jpg' alt='software_img')

		