a {
  color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  background-color: #d8d2c3;
}

header, main, footer {
    flex-shrink: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #d8d2c3;
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #447f43;
  color: #FFFFFF;
}

.nav{
  font-size: 13px;
  margin-left: 0px;
  background-color: #000000;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
}

.item {
  float: left;
}

.item a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.item a:hover {
  background-color: #111;
}

.active {
  background-color: #fcbe2d;
}


/* Homepage Container
   ========================================================================== */

.container {
  width: auto;
  margin: 0 auto;
  padding: 10px;
  flex-grow: 1;
  background-color: #d8d2c3;
}

.content {
  /*width: auto;*/
  padding: 20px 0px 20px 0px;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.specialty {
	text-align: center;
  /*font-style: italic;*/
  border: 2px solid #447f43;
  border-radius: 5px;
  background-color: #447f43;
  color: #FFFFFF;
}

.imagesets {
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Footer
   ========================================================================== */

.footer {
  font-size: 0.85em;
  height:50px;
  text-align: center;
  background-color: #447f43;
  color: #FFFFFF;
  padding-top: 5px;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;

  flex-shrink: 0;
}

/* Error
   ========================================================================== */

.er-mess {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}