a {
  color: #FFFFFF;
}

li {

}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  background-color: #ebe8e1;
}

header, main, footer {
    flex-shrink: 0;
}

html, body {
    width: 100%;
}

/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ebe8e1;
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #447f43;
  color: #FFFFFF;
}

.nav{
  font-size: 13px;
  margin-left: 0px;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
}

.item {
  float: left;
}

.item a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.item a:hover {
  background-color: #111;
}

.active {
  background-color: #fcbe2d;
}


/* Homepage Container
   ========================================================================== */

.container {
  width: auto;
  margin: 0 auto;
  padding: 10px;
  flex-grow: 1;
  background-color: #ebe8e1;
}

.content {
  /*width: auto;*/
  padding: 50px 40px 50px 40px;
  max-width: 1000px;
  margin: 0 auto;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

.post {
  max-width: 600px;
  margin: 0 auto;
}

.img-grd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.specialty {
	text-align: center;
  /*font-style: italic;*/
  border: 2px solid #447f43;
  border-radius: 5px;
  background-color: #447f43;
  color: #FFFFFF;
}

.imagesets {
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Footer
   ========================================================================== */

footer {
  font-size: 0.9em;
  height:50px;
  text-align: center;
  background-color: #447f43;
  color: #FFFFFF;
  padding-top: 5px;
  line-height: 1.2em;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;

  flex-shrink: 0;
}

/* Error
   ========================================================================== */

.er-mess {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

/* Contact Form
   ========================================================================== */

.form-area {
  max-width: 700px;
  margin: 0 auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  font-size: 1em;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #447f43;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

  